body {
  font-family: merriweather,serif;
  font-size: 1.2rem;
}
body h2 {
  font-family: merriweather,serif;
}
a:hover {
  cursor: pointer;
}
#avator-picture {
  width: 6em;
  height: auto;
  max-width: 100%;
  border: 6px grey solid;
}
@media (min-width: 576px) {
  body .jumbotron {
    text-align: center;
    padding: 2rem 2rem;
  }
}
#social_media_icons img {
  margin: 10px;
}

.jumbotron>h2 {
  font-size: 2.5rem;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}
.subtitle {
  font-size: 1.35rem !important;
  font-weight: 780;
}

#project ul>p {
  padding-left: 25px;
}

#v1 {
  border-right: 2px solid black;
}
#v2{
  border-right: 2px solid black;
}
#introduction ul p{
  padding-left: 25px;
}

#page-footer {
  background-color: #e9ecef;
  padding: 10px;
  margin-top: 25px;
}
#page-footer span {
  font-size: 1.15rem;
   
}

div #contact-form {
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(60,66,64,0.5);
  display: none;
}
#exit-button {
  position: absolute;
  top: -10px;
  right: -40px;
}
form {
  position: relative;
  background-color: #f5f5f5;
  padding: 5% 10% 10% 10%;
  width: fit-content;
}
form > h2 {
  margin-bottom: 5vh;
}
form textarea {
  height: 230px;
  width: 100%;
}
form button {
  margin-top: 3vh;
  width: 100%;
}

#contact-form img {
  border-radius: 50%;
  width: 10vh;
  display: block;
}



#exit-button {
  font-size: 30px;
}
#exit-button:hover {
  color: white;
  cursor: pointer;
}
#checkform {
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 5% 4% 5% 4%;
  flex-direction:column;
}
#check-form p {
  width: 100%;
}