body {
  font-family: Georgia, serif;
}

#avator-picture {
  width: 6em;
  height: auto;
  max-width: 100%;
  border: 6px grey solid;
}
@media (min-width: 576px) {
  body .jumbotron {
    text-align: center;
    padding: 2rem 2rem;
  }
}

.jumbotron>h2 {
  font-size: 2.5rem;
}

#introduction p {
  font-size: 1.25rem;
}

#project ul {
  padding-left: 0;
}

#project li {
  list-style: none;
}

#project p {
  font-size: 1.25rem;
}

.vl {
  border-right: 2px solid black;
  height: 500px;
}